@media (orientation: portrait), (width <= 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;

        grid-template-areas: 
        "header"
        "doors"
        "statistics";
    }

    p, label {
        font-size: 12px;
    }

    .title {
        font-size: 30px;
    }

    .doors-container {
        padding: 25% 5% 5% 5%;
        --door-width: 200px;
        --door-height: 265px;
    }

    .doors-container::-webkit-scrollbar {
        width: 10px;
    }

    .statistics-container {
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .statistics {
        scroll-snap-align: start;
        min-width: calc(100% - 10px);
        height: 100%;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto 1fr 15%;
    }

    .reset-button {
        width: 60px;
        height: 30px;
        font-size: 12px;
    }

    .statistics-configs {
        scroll-snap-align: start;
        min-width: calc(100% - 10px);
        height: 100%;
        grid-template-rows: auto 1fr 20% 15%;
    }
}